p {
    text-align: justify;
}

th {
  border-bottom: thick double;
  border-top: thick solid;
  column-rule: thick solid;
  border-left: thick solid;
  border-right: thick solid;

}

td {
  border-bottom: medium solid;
  column-rule: medium solid;
  border-left: medium solid;
  border-right: medium solid;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}