p {
    text-align: justify;
}

th {
  border: thick solid;
  border-bottom: thick double;
  border-left: thin solid;
  border-right: thin solid;
}

td {
  border: medium solid;
  border-top: none;
  border-left: thin solid;
  border-right: thin solid;
}

table {
  width: 100%;
  border: thick solid;
  text-align: center;
}